
ion-fab-button{
    margin-left: 210px;
}
.fabBtn{
    margin: 8px;
    width: 70px;
    height: 70px;
    margin-left: 150px;
    border-radius: 50px;
    background-color:rgb(170, 188, 245)
}
.itemLable{
    margin-top: 65px;
    margin-left: 70px;
}