<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="encryptPass">
    <p>Encrypted Password: {{encryptPass}}</p>
  </ion-item>

  <ion-item>
    <ion-label>Machine Test (4 Hrs) <br>
      1. Fetched All contacts<br>
      2. Capture Snap from Camera and preview.<br>
      3. Password Encryption and display.<br>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Here you can test any text for encryption.<br>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-input type="text" [(ngModel)]="testName" placeholder="Enter text" id="input"></ion-input><br>
    <ion-button (click)="encryptText(testName)" expand="block">Go</ion-button><br>
  </ion-item>
  <ion-item>
    <ion-label>Encrypted text: {{encryptedText}}</ion-label>
  </ion-item>

</ion-content>